<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.felightapps">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-feature android:name="android.hardware.camera2"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigatorActivity">
        </activity>
        <activity
            android:name=".AlgorithmBenchmarking.BenchmarkingActivity"
            android:label="Algorithm Benchmarking">
        </activity>
        <activity
            android:name=".Flashlight.FlashlightActivity"
            android:label="Flashlight"/>
        <activity
            android:name=".InstagramClone.InstagramCloneActivity"
            android:label="Instagram Clone">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Calculator.CalculatorActivity"
            android:label="Calculator">
        </activity>
        <activity
            android:name=".ToastDemo.ToastDemoActivity"
            android:label="Toast Demo">
        </activity>
        <activity
            android:name=".NotificationsDemo.NotificationDemoActivity"
            android:label="Notification Demo">
        </activity>
        <activity android:name=".WelcomeSplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AnimationsDemo.AnimationsDemoActivity">
        </activity>
        <activity android:name=".WebViewDemo.WebViewDemoActivity">
        </activity>
        <activity
            android:name=".Maps.MapsActivity"
            android:label="Map">
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name=".SMSDemo.SMSDemoActivity">
        </activity>
        <activity android:name=".FbLogin.FbLoginActivity">
        </activity>

        <receiver android:name=".BraodcastReceiver.AirplaneAndBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BraodcastReceiver.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".Sensors.SensorListActivity">
        </activity>
        <activity android:name=".Sensors.SensorAccelerometerValuesActivity">
        </activity>
        <activity android:name=".Sensors.SensorGravityValuesActivity"></activity>
        <activity android:name=".Sensors.SensorMagneticFieldValuesActivity"></activity>

        <activity android:name=".Sensors.SensorValuesActivity"></activity>
        <activity android:name=".Sensors.SensorShakeActivity"></activity>
    </application>

</manifest>